@page

@using Inventoryx.Models
@using Inventoryx.Data
@model Inventoryx.Pages.Allocations.EquipmentAllocations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EquipmentAllocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipmentAllocation.AllocationDate" class="control-label"></label>
                <input asp-for="EquipmentAllocation.AllocationDate" class="form-control" />
                <span asp-validation-for="EquipmentAllocation.AllocationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentAllocation.Details" class="control-label"></label>
                <input asp-for="EquipmentAllocation.Details" class="form-control" />
                <span asp-validation-for="EquipmentAllocation.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentAllocation.EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentAllocation.EquipmentId" asp-items="@((List<SelectListItem>)ViewData["equipments"])" class="form-control">
                    <option value="">Select Equipment</option>
                </select>
                <span asp-validation-for="EquipmentAllocation.EquipmentId" class="text-danger"></span>
            </div>
            <p align="center" style="color:red">@Html.ValidationMessage("DuplicateEQ")</p>
            <div class="form-group">
                <label asp-for="EquipmentAllocation.EmployeeId" class="control-label"></label>
                <select asp-for="EquipmentAllocation.EmployeeId" asp-items="@((List<SelectListItem>)ViewData["employees"])" class="form-control">
                    <option value="">Select Employee</option>
                </select>
                <span asp-validation-for="EquipmentAllocation.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
