@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<br />

<div class="text-center">
    <h4 class="display-7"> Equipment Statistics </h4>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col text-center w-auto" >left <canvas id="myChart"> </canvas></div>
        &nbsp;
        &nbsp;
        <div class="col align-content-center w-auto" >
            Center
            <canvas id="myChart1"> </canvas>
        </div>
        &nbsp;
        &nbsp;
        <div class="col align-content-center w-auto" >Right <canvas id="myChart2"> </canvas> </div>
    </div>
</div>

<br />
<br />

<div class="text-center">
    <h4 class="display-7"> Employee Statistics </h4>
</div>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col text-center w-auto" >left <canvas id="myChart3"> </canvas></div>
        &nbsp;
        &nbsp;
        <div class="col align-content-center w-auto" >
            Center
            <canvas id="myChart4"> </canvas>
        </div>
        &nbsp;
        &nbsp;
        <div class="col align-content-center w-auto" >Right <canvas id="myChart5"> </canvas> </div>
    </div>
</div>


@section Scripts{
    <script>

        const labels = [
            'Bucuresti',
            'Valcea',
            'Targu Jiu'
        ];

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Locatie",
                    backgroundColor: "rgb(255,99,132)",
                    borderColor: "rgb(255,99,132)",
                    data: [3, 10, 7]
                                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

                const myChart1 = new Chart(
            document.getElementById('myChart1'),
            config
        );

                const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config
        );

                const myChart3 = new Chart(
            document.getElementById('myChart3'),
            config
        );

                const myChart4 = new Chart(
            document.getElementById('myChart4'),
            config
        );

                const myChart5 = new Chart(
            document.getElementById('myChart5'),
            config
        );

    </script>
}
